node_modules
vendor
.env
.phpunit.result.cache
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/storage
npm-debug.log
yarn-error.log
.git
.gitignore
.dockerignore
.editorconfig
.phpunit.result.cache
.php_cs.cache
.phpcs-cache
.DS_Store
.idea
.vscode